.dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: #ffffff;
}

.dish:hover {
    border: 2px solid #e91e63;
}

.dish:hover button {
    background-color: #f8bbd0;
}

.dish img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 35px;
}

.dish .price {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

.dish .name {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.dish .weight {
    font-size: 16px;
    color: #888888;
    margin-bottom: auto;
}

.dish button {
    background-color: #e3f2fd;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 800px) {
    .dishes {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        justify-content: space-between;
    }

    h1 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .dishes {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 22px;
    }

    h2 {
        text-align: center;
    }
}